<div>
  event-list works! some event here...

  <div class="event-box">

    <button type="button" class="btn btn-primary">
      Counter
      <span class="badge">
        {{counter1}}
      </span>
    </button>

    <p>Name: {{event.name}}</p>
    <p>Location: {{event.location.address}}
      <span>&nbsp;</span>
      <span>{{event.location.city}}, {{event.location.country}} </span>
    </p>
    <p>{{event.imageUrl}}</p>
  </div>
  <hr>
  
  <h2>Use of @Output</h2>

  <button type="button" class="btn btn-primary" (click)="handleClickMe()">Show current counter</button>
</div>